@import "tailwindcss";

/* 🟢 A MÁGICA DO NEXT-THEMES NO TAILWIND V4 */
/* Isso avisa o Tailwind que os prefixos "dark:" só devem funcionar quando o botão de luz for clicado */
@custom-variant dark (&:is(.dark *));

:root {
  /* ☀️ CORES DO MODO CLARO */
  --background: #f4f4f5; /* Um cinza beeeem claro para não doer o olho (zinc-100) */
  --foreground: #18181b; /* Texto escuro */
}

.dark {
  /* 🌙 CORES DO MODO TREVAS */
  --background: #09090b; /* O seu fundo preto premium (zinc-950) */
  --foreground: #fafafa; /* Texto claro */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease; /* Transição suave ao trocar de tema */
}

/* ==========================================
   SCROLLBAR CUSTOMIZADO (AGORA COM LIGHT/DARK)
   ========================================== */

.custom-scrollbar::-webkit-scrollbar {
  width: 6px; 
  height: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; 
}

/* Cor do scrollbar no Modo Claro */
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #d4d4d8; 
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #a1a1aa; 
}

/* Cor do scrollbar no Modo Trevas */
.dark .custom-scrollbar::-webkit-scrollbar-thumb {
  background: #27272a; 
}
.dark .custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #3f3f46; 
}

/* Scrollbar Global */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: transparent; 
}
::-webkit-scrollbar-thumb {
  background: #d4d4d8; 
  border-radius: 10px;
}
.dark ::-webkit-scrollbar-thumb {
  background: #27272a; 
}